@charset "utf-8";

/*
   Jordyn Merchant
   Milestone Cafe CSS
*/
body{
    background-color: cadetblue;
}
h3 {
    text-align: center;
    font-size: 40pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
header {
    text-align: center;
    font-size: 32pt;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
nav {
    text-align: center;
    font-size: 28pt;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkcyan;
    color: black;
}
.specials {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    font-size: 18pt;
  }
.extraText {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
    font-size: 18pt;
  }
.img1 {
    width: 30%;
    float: right;
    padding: 20px;
}
img {
    padding-left: auto;
    margin-left: auto;
    border-radius: 50%;
  }